<center>
<img src="download.png" alt="Alternative text" />
<h1>Bank Churn Prediction</h1>
</center>

<h2>Introduction</h2>

Customer churn is a critical issue impacting enterprises and organizations, particularly in highly competitive industry like banks, i.e. customers closing their accounts and having fewer transactions/interactions over time. 

customers usually offer some warning before being churned, hence churn prediction systems primarily focus on customer behavior to identify specific customers who are likely to churn out and indicate reasons for the churn. Such factors would aid marketing to develop effective retention strategies, increasing overall customer lifetime value, and assisting in growing the company’s market value.

<h2>Objective</h2>

Build a machine learning based classifer that can determine whether customers will leave or not in the next 6 months.

<h2>Data</h2>

<h3>1. Data Description</h3>

Data is from an open-source dataset from Kaggle (https://www.kaggle.com/datasets/mathchi/churn-for-bank-customers)

The dataset contains 10,000 sample points with 14 distinct features such as CustomerId, CreditScore, Geography, Gender, Age, Tenure, Balance, etc.


- `RowNumber`: Corresponds to the record (row) number and has no effect on the output (No effect on churn)
- `CustomerId`: Unique ID which is assigned to each customer (No effect on churn)
- `Surname`: Last name of the customer (No effect on churn)  
- `CreditScore`: It defines the credit history of the customer (a customer with a higher credit score is less likely to leave the bank)
- `Geography`: A customer’s location (will effect on churn)   
- `Gender`: Gender of the customer   (May plays a role on churn)
- `Age`: Age of the customer   (older customers are less likely to leave their bank than younger ones)  
- `Tenure`: Number of years for which the customer has been with the bank (Normally, older clients are more loyal and less likely to leave a bank)
- `NumOfProducts`: It refers to the number of products that a customer has purchased through the bank.
- `Balance`: Account balance (people with a higher balance in their accounts are less likely to leave the bank compared to those with lower balances)
- `HasCrCard`: It is a categorical variable that decides whether the customer has a credit card or not (people with a credit card are less likely to leave the bank)
- `EstimatedSalary`: Estimated salary (people with lower salaries are more likely to leave the bank compared to those with higher salaries) 
- `isActiveMember`: It is a categorical variable that decides whether the customer is an active member of the bank or not ( Active member in the sense, using bank products regularly, making transactions, etc ) (active customers are less likely to leave the bank)
- `Excited`: It is a categorical variable that decides whether the customer left the bank within six months or not. It can take two values 
                    0=No ( Customer did not leave the bank )

                    1=Yes ( Customer left the bank )

<h3>2. Load Libraries</h3>

In [4]:
# Libraries to help with reading and manipulating data
import numpy as np
import pandas as pd
# libaries to help with data visualization
import matplotlib.pyplot as pyplot
import matplotlib.pyplot as plt
import seaborn as sns
# Library to split data
from sklearn.model_selection import train_test_split
# library to import to standardize the data
from sklearn.preprocessing import StandardScaler

C:\Users\zhuy\Anaconda3\envs\techlent\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\zhuy\Anaconda3\envs\techlent\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
C:\Users\zhuy\Anaconda3\envs\techlent\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  stacklevel=1)

<h3>3. Read Dataset</h3>

In [6]:
df = pd.read_csv('Churn_Modelling.csv')

In [7]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [12]:
#Checking the shape of the data
df.shape

(10000, 14)

In [10]:
#finding the null values
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64